*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
}

body{
  font-family: "΢���ź�";
}

li{
  list-style: none;
}
i{
  font-style: normal;
}
a{
  text-decoration: none;
  color:#666;
}

img{
  vertical-align: middle;
}

input{
  border:0;
  outline:0;
}

.pull-left{
  float: left;
}
.pull-right{
  float: right;
}

.clearfix::before,
.clearfix::after{
  content: '';
  
  display: block;
  
  clear: both;
  
  visibility: hidden;
  
  line-height: 0;
  
  height: 0;
  
  overflow: hidden;
}


.bl{
  border-left: 1px solid #ccc;
}
.br{
  border-right: 1px solid #ccc;
}
.bt{
  border-top: 1px solid #ccc;
}
.bb{
  border-bottom: 1px solid #ccc;
}
html,
body {
    height: 100%;
}
